body {
    background-image: url("../img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

h1 {
    margin-top: 150px;
    margin-left: 150px;
}

.title {
    color: #ffffff;
    font-size: 50px;
    text-decoration: none;
}

.title-no-hover {
    color: #ffffff;
    font-size: 50px;
    text-decoration: none;
}

.title:hover {
    color: #888888;
}

.button-container {
    margin-left: 100px;
    margin-top: 100px;
}

.button {
    font-size: 35px;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding: 10px;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #ffffff;
    color: #2c37a7;
}

.block {
    display: block;
}

.questionBox {
    margin-top: 200px;
    height: 150px;
    background-color: darkgrey;
    color: #000000;
    text-align: center;
    font-size: 80px;
    padding-top: 50px;
    border: 10px solid tan;
}

.answerBox {
    text-align: center;
}

.top-answers {}

.bottom-answers {}

.answer {
    background-color: darkgrey;
    height: 100px;
    width: 500px;
    display: inline-block;
    font-size: 50px;
    border-radius: 25px;
    margin: 10px;
    padding-top: 30px;
    border: 1px solid #000000;
}

.answer:hover {
    background-color: lightcoral;
}

.username {
    font-size: 30px;
    color: bisque;
}

.infoContainer {
    text-align: right;
}

.points {
    color: aliceblue;
    font-size: 30px;
}

.questionNumber {
    color: aliceblue;
    font-size: 30px;
}

.wrongAnswerNumber {
    color: aliceblue;
    font-size: 30px;
}

.gameOver {
    text-align: center;
    font-size: 200px;
    color: red;
}

.finalPoints {
    font-size: 100px;
    text-align: center;
    color: red;
}

.backToHome {
    font-size: 50px;
    padding: 30px;
}

.newQuestion {
    font-size: 30px;
    padding: 10px;
}

#game {
    display: none;
}

#gameOver {
    display: none;
}